body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.menu-btn {
  background-color: rgb(240, 240, 240);
  color: black;
  border: 2px solid gold;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.menu-btn:hover {
  background-color: gold;
  border-color: gold;
}

#container_card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.container_card_jogador {
  background-color: #222;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 300px;
}

.imagem {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  width: 50px;
  margin-right: 10px;
}

header h1 {
  font-family: "Alumni Sans Inline One", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.search-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.search-container button {
  padding: 8px 12px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.search-container button:hover {
  background-color: gold;
  color: #000;
  border-color: gold;
}

.search-container input[type=text] {
  padding: 8px;
  margin-right: 5px;
  border: 2px solid #fff;
  border-radius: 20px;
  font-size: 14px;
  color: #fff;
  background-color: transparent;
}

.search-container input[type=text]:focus {
  outline: none;
  border-color: gold;
}

.saiba-mais-btn {
  display: inline-block;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  font-size: 14px;
}

.saiba-mais-btn:hover {
  background-color: gold;
  color: #000;
  border-color: gold;
}


@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    padding: 10px;
  }

  .menu-btn {
    font-size: 14px;
    padding: 8px 16px;
    margin: 0 3px;
  }

  #container_card {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }

  .container_card_jogador {
    max-width: 100%;
  }

  header {
    flex-direction: column;
    text-align: center;
  }

  header .logo img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .search-container {
    margin-left: 0;
    margin-top: 10px;
    flex-direction: column;
    text-align: center;
  }

  .search-container input[type=text] {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .saiba-mais-btn {
    margin-top: 10px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 80%;
  }

  .menu-btn {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 5px;
  }

  #container_card {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

@media screen and (min-width: 1025px) {
  .container {
    width: 1200px;
  }

  .menu-btn {
    font-size: 18px;
    padding: 12px 24px;
  }

  #container_card {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}
